In [9]:
# Imports

import pandas as pd

import cpi

# Loading combined dataset -> see joins for more info
df = pd.read_csv('./finalizedDS/incomeAndPrice.csv')

In [10]:
# down payment things
# url: https://www.bankofamerica.com/mortgage/learn/mortgage-down-payment/
df["downPayment20"] = df["avgYearPrice"] * 0.20
df["downPayment5"] = df["avgYearPrice"] * 0.05

In [11]:
df.head()

,observation_date,medianHHIncome,date,avgYearPrice,realMedianHHIncome,realHousePrice,downPayment20,downPayment5
0,1984-01-01,22420,1984,79950.0,65749.940712,234465.109721,15990.0,3997.50
1,1985-01-01,23620,1985,84275.0,66887.186245,238650.195632,16855.0,4213.75
2,1986-01-01,24900,1986,92025.0,69225.180657,255841.255018,18405.0,4601.25
3,1987-01-01,26060,1987,104700.0,69899.067958,280830.100352,20940.0,5235.00
4,1988-01-01,27230,1988,112225.0,70135.549112,289054.792477,22445.0,5611.25