In [9]:
# Imports

import pandas as pd

import cpi

# Loading combined dataset -> see joins for more info
df = pd.read_csv('./finalizedDS/incomeAndPrice.csv')

In [19]:
# down payment things
# url: https://www.bankofamerica.com/mortgage/learn/mortgage-down-payment/
df["downPayment20"] = df["avgYearPrice"] * 0.20
df["downPayment5"] = df["avgYearPrice"] * 0.05
df2 = df[["date", "downPayment20", "downPayment5"]]
df2.head()

   date  downPayment20  downPayment5
0  1984        15990.0       3997.50
1  1985        16855.0       4213.75
2  1986        18405.0       4601.25
3  1987        20940.0       5235.00
4  1988        22445.0       5611.25

In [20]:
df.to_csv('./finalizedDS/downPayments.csv', index=False)

OSError: Cannot save file into a non-existent directory: 'finalizedDS'

    date  downPayment20  downPayment5
0   1984        15990.0       3997.50
1   1985        16855.0       4213.75
2   1986        18405.0       4601.25
3   1987        20940.0       5235.00
4   1988        22445.0       5611.25
5   1989        24085.0       6021.25
6   1990        24460.0       6115.00
7   1991        23995.0       5998.75
8   1992        24275.0       6068.75
9   1993        25300.0       6325.00
10  1994        26085.0       6521.25
11  1995        26695.0       6673.75
12  1996        28050.0       7012.50
13  1997        29000.0       7250.00
14  1998        30385.0       7596.25
15  1999        32025.0       8006.25
16  2000        33510.0       8377.50
17  2001        34620.0       8655.00
18  2002        37205.0       9301.25
19  2003        38425.0       9606.25
20  2004        43630.0      10907.50
21  2005        47310.0      11827.50
22  2006        48750.0      12187.50
23  2007        48990.0      12247.50
24  2008        45910.0      11477.50
25  2009        43130.0      10782.50
26  2010        44540.0      11135.00
27  2011        44980.0      11245.00
28  2012        48880.0      12220.00
29  2013        53245.0      13311.25
30  2014        57155.0      14288.75
31  2015        58830.0      14707.50
32  2016        61025.0      15256.25
33  2017        64485.0      16121.25
34  2018        65055.0      16263.75
35  2019        64050.0      16012.50
36  2020        65630.0      16407.50
37  2021        76600.0      19150.00
38  2022        86590.0      21647.50
39  2023        85305.0      21326.25