In [11]:
# Imports

import pandas as pd

import cpi

# Loading combined dataset -> see joins for more info
df = pd.read_csv('./finalizedDS/incomeAndPrice.csv')

In [17]:
# down payment things
# url: https://www.bankofamerica.com/mortgage/learn/mortgage-down-payment/
df["downPayment20"] = df["avgYearPrice"] * 0.20
df["downPayment035"] = df["avgYearPrice"] * 0.035
df2 = df[["date", "downPayment20", "downPayment035"]]
df2.head()

   date  downPayment20  downPayment035
0  1984        15990.0        2798.250
1  1985        16855.0        2949.625
2  1986        18405.0        3220.875
3  1987        20940.0        3664.500
4  1988        22445.0        3927.875

In [18]:
df2.to_csv('./finalizedDS/downPayments.csv', index=False)