In [6]:
# Imports

import pandas as pd

import cpi

# Loading combined dataset -> see joins for more info
df = pd.read_csv('./finalizedDS/incomeAndPrice.csv')

In [7]:
# down payment things
# url: https://www.bankofamerica.com/mortgage/learn/mortgage-down-payment/
df["downPayment20"] = df["avgYearPrice"] * 0.20
df["downPayment5"] = df["avgYearPrice"] * 0.05
df2 = df[["date", "downPayment20", "downPayment5"]]
df2.head()

   date  downPayment20  downPayment5
0  1984        15990.0       3997.50
1  1985        16855.0       4213.75
2  1986        18405.0       4601.25
3  1987        20940.0       5235.00
4  1988        22445.0       5611.25

In [8]:
df2.to_csv('./finalizedDS/downPayments.csv', index=False)